{{!-- handlebars to display blog posts on user dashboard --}}

<div id="dashboardPosts">
    {{#each userBlogs as |userBlog|}}
    <button id="titleButton" class="btn btn-secondary d-flex justify-content-between align-items-center"
        data-name="titleButton" data-blogid={{userBlog.id}}>
        {{userBlog.title}}
        <span class="badge bg-dark">{{format_timestamp userBlog.createdAt}}</span></button>
    {{/each}}
</div>
<div class="fixed-bottom position-center">
    <button class="btn-bottom" id="newPost">+ New Post</button>
</div>
<script src="/js/dashboard.js"></script>