{{!-- handlebars to provide feedback for a blog post --}}

<div class="w-80 mx-auto">
    <div class="card">
        <div class="card-header">{{blog.title}}</div>
        <!-- card header must display title -->
        <div class="card-body">
            <p class="card-text">{{blog.content}}</p>
            <!-- card body must display content -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="feedbackComment" class="font-weight-bold"><strong>Comment</strong></label>
                    <textarea class="form-control" id="feedbackComment" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn" id="feedbackBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../public/js/feedback.js"></script>