{{!-- handlebars to display list of blog posts as cards on homepage --}}
{{!-- #each built-in helper to be added --}}

<div class="w-80 mx-auto">
    <div class="card">
        <div class="card-header">{{blog.title}}</div>
        <div class="card-body">
            <p class="card-text">{{blog.content}}</p>
        </div>
    </div>
</div>