{{!-- handlebars to display signup form --}}

<div class="w-50 mx-auto">
    <div class="card">
        <div class="card-header">Sign Up</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn" id="signup">Sign Up</button>
                </div>
                <a href="/login" class="form-link">LogIn Instead</a>
            </form>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>