:root {
    --primary: #84CEEB;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}

body {
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

header {
    padding: 15px;
    background-color: var(--dark);
    color: var(--primary);
}

nav {
    display: flex;
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

.app-title {
    font-size: 2rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}

.card {
    margin: 10px;
    padding: 2px;
    border-color: var(--dark);
    background-color: var(--primary);
    border-style: double;
}

.card-header {
    background-color: var(--dark);
    color: var(--primary)
}

.card-body {
    background-color: var(--primary);
    color: var(--dark)
}

.btn {
    margin: 5px;
    background-color: var(--dark);
    color: var(--primary);
    width: 99%;
}

.btn:hover {
    background-color: var(--light-dark)
}

.form-link {
    color: #0000ff;
    text-decoration: underline;
}

.accordion-item {
    background-color: var(--light-dark);
    border-radius: var(--border-radius);
    width: 80%;
    margin: 10px;
}

.accordion-collapse {
    width: 81.5%;
}

.accordion-card {
    margin: 2px;
    padding: 2px;
    border-color: var(--dark);
    background-color: var(--primary);
    border-style: double;
}

.accordion-button {
    background-color: var(--light-dark);
    border-radius: var(--border-radius);
    padding: 10px 10px;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-dark);
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--light-dark);
}

.hidden {
    display: none;
}

.btn-bottom {
    background-color: var(--dark);
    color: var(--primary);
    margin-bottom: 20px;
    border-radius: var(--border-radius);

}

.btn-bottom:hover {
    background-color: var(--light-dark);
}

.position-center {
    left: 50%;
}

.bg-dark {
    background-color: var(--dark);
}